/********** BASE **********/
.container {
  width: 80%;
  margin-inline: auto;
  padding: 1.5rem;
}

/********** ABOUT-SECTION **********/
section#about #details {
  text-align: left;

  display: grid;
  grid-template-columns: 1.8fr 2fr;
  align-items: center;
  gap: 4rem;
}

section#about #message h1 {
  font-family: 'Baloo 2', cursive;
  font-weight: 800;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 1rem;

  color: var(--base-title);
}

section#about #message p {
  font-size: 1.25rem;
  color: var(--base-subtitle);
}

section#about #message ul {
  margin-top: 4rem;
}

section#about #message ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

section#about #message ul li {
  margin-bottom: 0.8rem;
}

section#about #message ul li img {
  height: 2rem;
}

section#about #message ul li p {
  font-size: 1rem;
  color: var(--base-text);
}

section#about #storeImage {
  text-align: center;
}

section#about #storeImage img {
  width: 100%;
  border-radius: 0.6rem;
}

/********** STORE-SECTION **********/
section#store {
  margin-top: 2rem;
}

section#store h2 {
  font-family: 'Baloo 2', cursive;
  margin-bottom: 3rem;
}

section#store .products {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

section#store .product {
  background: var(--product-background);
  padding-inline: 0.6rem;
  border-radius: 0.5rem 2rem;

  width: 256px;
  height: 310px;

  text-align: center;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
}

.product img.productImage,
.product h3,
.product p.description,
.product footer .icons img {
  cursor: pointer;
}

.product img.productImage {
  margin-block: -2rem 1.5rem;
  width: 120px;

  align-self: center;

  transition: transform 0.3s;
  cursor: pointer;
}

.product img.productImage:hover {
  transform: scale(1.1);
}

.product h3 {
  font-family: 'Baloo 2', cursive;
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--base-subtitle);
}

.product p {
  color: var(--base-label);
  font-size: 1rem;
  line-height: 1rem;

  flex: 1;
}

.product footer {
  margin-top: auto;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product footer p {
  color: var(--base-subtitle);
  font-size: 0.8rem;
}

.product footer strong {
  font-family: 'Baloo 2', cursive;
  font-size: 1.5rem;
  font-weight: 800;
}

.product footer .icons {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

/********** DARK MODE **********/
#dark {
  background: var(--base-title);
}

#dark #details #message h1,
#dark #details #message p,
#dark #details #message li,
#dark #store h2 {
  color: var(--base-background);
}

/********** RESPONSIVE MEDIAS **********/
@media (min-width: 2560px) {
  section#about {
    padding-top: 2rem;
  }

  section#about #details {
    gap: 5rem;
  }

  section#about #message h1 {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 2rem;
  }

  section#about #message p {
    font-size: 1.8rem;
  }

  section#about #message ul {
    margin-top: 4rem;
  }

  section#about #message ul li {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-bottom: 1.2rem;
  }

  section#about #message ul li img {
    height: 3rem;
  }

  section#about #message ul li p {
    font-size: 1.4rem;
  }

  section#about #storeImage {
    text-align: right;
  }

  section#about #storeImage img {
    width: 80%;
  }
}

@media (max-width: 1280px) {
  section#about #details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 730px) {
  /********** ABOUT-SECTION **********/
  section#about {
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  section#store {
    text-align: center;
  }

  section#store .products {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  /********** BASE **********/
  .container {
    width: 90%;
    padding: 1.2rem;
  }

  /********** ABOUT-SECTION **********/
  section#about #message h1 {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  section#about #message p {
    font-size: 1.1rem;
  }
}

@media (max-width: 360px) {
  /********** BASE **********/
  .container {
    padding: 0.9rem;
  }

  /********** ABOUT-SECTION **********/
  section#about #message h1 {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  section#about #message p {
    font-size: 1rem;
  }

  section#about #message ul {
    margin-top: 2rem;
  }

  section#about #message ul li p {
    font-size: 0.8rem;
  }
}
